:root {
  --ease: all 0.5s ease-out;
  --primary-color: #444;
  --white-color: #fff;
  --secondary-color: #eece1a;
}

* {
  box-sizing: border-box;
}



.App {
  text-align: center;

}

a {
  text-decoration: none;
}

.conta {
  background-color: #fff;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}


.landing {
  position: relative;
  height: 800px;
  top: 100px;
  width: 100%;

}

.lanImage {
  position: relative;
  top: 100px;
  opacity: 0.9;
  background-image: url('https://images.pexels.com/photos/3765551/pexels-photo-3765551.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  height: 699px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


ul {
  list-style: none;
  display: inline;
  text-align: center;
}


.img-responsive {
  height: 500px;
  width: 100%;
}

.edel {
  position: relative;
  top: 100px;
}

.card-second {
  position: relative;
  float: right;
  top: -358px;
}

.editArticle {
  position: relative;
  top: 200px;
}