@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.custom-file-upload:hover {
  transform: scale(1.1);
  color: #b1ae17;
}

.addArticle {
  width: 100%;
  background: url('https://images.pexels.com/photos/3812041/pexels-photo-3812041.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  top: -20px;
}

.center {
  font-family: 'Raleway', sans-serif;
  background: rgb(248, 243, 243);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 140;
  left: 0px;
}

.auth .authorx {
  z-index: 29;
  top: -27px;
  position: relative;
  color: orange;
  font-weight: 800;
  font-size: 18px;
}

input[type="file"] {
  display: none;
}

.addArticle .custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
  top: -13px;
}

.title,
.desc {
  color: orange;
}


.addArticle .panel-body {
  padding: 1em;
  width: 100%;
  position: relative;
  /* left: 0em; */
  position: relative;
  display: inline-block;
}

.just-panels {
  background: aliceblue;
  width: 50%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 17em; */
  position: relative;
  top: 135px;
  border-radius: 35%;
  text-align: center;
}

.addArticle .panel-body form {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.addArticle .panel-body form .form-group {
  margin-bottom: 3em;
  width: 86%;
  position: relative;
}


.addArticle footer {
  bottom: -54px;
  position: absolute;
}

.cardz textarea {
  position: relative;
  resize: none;
  height: 200px;
  top: 120px;
  left: 0px;
  width: 100%;
}

.textarea {
  background-color: white;
}

.desc {
  position: relative;
  top: 110px;
}

.addArticle .btn-block {
  width: 35%;
  position: relative;
  top: 0em;
}

.cardz .addPic {
  position: relative;
  top: 220px;
}

.cardz .author {
  position: relative;
  top: 10px;
}

.label {
  position: relative;
  top: 60px;
}

.form-submit {
  font-family: 'Raleway', sans-serif;
  height: 35px;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
}

.form-submit:hover {
  opacity: 0.6;
}



.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
}

/* Reset Select */
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  top: 31px;
  box-shadow: none;
  border: 0 !important;
  color: #333;
  background-image: none;
  display: block;
  width: 20em;
  height: 3em;
  line-height: 3;
  /* background: #2c3e50; */
  overflow: hidden;
  border-radius: .25em;
}

.select * {
  width: 100%;
}

.select input * {
  width: 80%;
}


.select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #333;
  cursor: pointer;
  width: 35vw !important;
}

.select::-ms-expand {
  display: none;
}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}

/* Transition */
.select:hover::after {
  color: #f39c12;
}

.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

@media screen and (max-width: 549px) {

  .addArticle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    right: 10%;
  }


  .nav .nav-link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 50px;
    width: 80px;
  }

  /* 
  .nav .logo {
    position: relative;
    top: -7px;
    left: -122px;
  } */

  /* .nav .user {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 290px;
    font-size: 14px;
    top: -77px;
  }

  .nav .write {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 100px;
    font-size: 14px;
    top: -125px;
  }

  .nav .nav-link {
    font-size: 13px;
  }

  .read {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 190px;
    font-size: 14px;
    top: -179px;
  }

  .nav .logout {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 380px;
    font-size: 14px;
    width: 23px;
    top: -225px;
    width: 30px;
  } */

  .showArticles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* left: -10%; */
  }

  form {
    width: 100%;
    left: 10%;
  }

  hr {
    position: relative;
    top: 20px;
  }

  .card-title {
    font-size: 18px;
  }

  .card-body {
    position: relative;
    top: -220px;
  }

  .card-text {
    font-size: 14px;
    position: relative;
    top: 10px;
    margin-bottom: 20px;
  }

  .artLink {
    position: relative;
    top: -240px;
    left: -20px;
  }

  .badges {
    position: relative;
    top: -40px;
  }

  .card-footer {
    position: relative;
    top: -120px;
  }
}


@media screen and (min-width: 550px) and(max-width: 900px) {

  .addArticle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    right: 10%;
    margin-bottom: 100px;
  }

  /* .blog-footer {
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  bottom: 0;
  height: 30%;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 0px;
  text-decoration: none;

} */

}