.editProfile {
  position: relative;
  top: 100px;
  width: 60%;
}

.submit {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 left: 39%;
  width: 20%;
}