.editProfile {
  position: absolute;
  height: 100%;
  top: 0px;
  width: 100%;
  background: url('https://source.unsplash.com/random');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.submit {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.panel-heading {
  background: aliceblue;
}

.just-panel {
  width: 66%;
  display: inline-block;
  align-self: center;
  position: relative;
  top: 150px;
  margin-bottom: 132px;
}

.editProfile .panel-body form {
  align-self: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.editProfile .panel-body form .form-group {
  margin-bottom: 1em;
  width: 86%;
}

.footer-con {
  position: absolute;
  width: 100%;
  bottom: 0px;
}