html {
  scroll-behavior: smooth;
}

.whoops-404 {
  display: none;
}

.headerImg {
  position: relative;
  width: 100%;
  top: 0px;
  height: 100vh;
}

.navlinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 2em;
  top: 0px;
  position: absolute;
}

.con-con {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
  top: -20px;
}

.cover-title {
  position: relative;
  top: 100px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 3em 0em;
  left: 3em;
}

.site-heading {
  position: absolute;
  top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

.site-heading li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 8em;
  top: 1em;
  padding: 0.5em;
}

.site-heading .link a {
  color: #333;
  position: relative;
  align-self: center;
  top: 4px;
  opacity: 1;
  font-weight: 900;
}

.con-con main {
  position: relative;
  width: 100%;
}

.MuiTypography-subtitle1 {
  font-size: 1.5em;
  text-decoration: none;
}

.jss191,
.makeStyles-markdown-191 {
  visibility: hidden;
}


.MuiGrid-spacing-xs-5 a {
  position: relative;
  top: 55px;
}

.MuiGrid-spacing-xs-5>.MuiGrid-item>span:nth-of-type(1),
.MuiGrid-spacing-xs-5>.MuiGrid-item>span:nth-of-type(2),
.MuiGrid-spacing-xs-5>.MuiGrid-item>span:nth-of-type(3) {
  visibility: hidden;
}

.con-con .MuiPaper-elevation1:nth-of-type(1) {
  position: relative;
  top: 0px !important;
  height: 400px;
}

.makeStyles-sidebarSection1-201 {
  position: relative;
  top: 50px;
}

.addArticle .panel-body {
  background-color: cornflowerblue;
}

.site-heading span {
  opacity: 1;
  color: #333;
  font-size: 24px;
  font-weight: 900;
}

.px-0 h2 {
  color: black;
  font-weight: 700;
  top: 20px;
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

.containerX {
  position: relative;
  top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%;
  grid-gap: 10px;
  margin-left: 1em;
}

.containerX img {
  position: relative;
  align-self: center;
  border-radius: 5px;
  width: 60%;
  height: 150px;
}

.containerX .px-0 {
  border: 1px solid #333;
  width: 90%;
  position: relative;
  top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4em;
}

.containerX .lead {
  top: 0px;
  position: relative;
  font-size: 0.8em;
  background: blue;
  width: 30%;
  margin-top: 0.7em;
  align-self: center;
}

.containerX .lead a {
  align-self: center;
  position: relative;
  font-size: 0.8em;
  top: 0px;
}

.containerX .card-text {
  margin: 0.8em 0.5em;
}

.containe .footer-con {
  position: relative;
  width: 100%;
  bottom: 0px;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media screen and (max-width: 600px) {


  /*social title */
  .makeStyles-sidebarSection1-193 {
    margin-top: 24px;
    position: relative;
    top: 46px;
  }

  .containerX {
    background-color: aliceblue;
  }

  .headerImg {
    width: 100%;
  }

  .subheading h1,
  h3,
  .displayh1 {
    font-size: 14px;
    position: relative;
    right: -5%;
  }

  .containerX h1 {
    position: relative;
    font-size: 10px;
    right: 20%;
    top: 10px;
  }

  .my-3 {
    font-size: 7px;
    position: relative;
    top: -100px;
    right: 20%;
    width: 90%;
  }

  .px-0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .px-0 h1 {
    position: relative;
    right: 0%;
    font-size: 14px;
  }

  .displayh1 {
    position: relative;
    font-size: 14px;
  }

  .px-0 p {
    position: absolute;
    left: 0%;
    top: 51px;
    font-size: 13px;
  }

  .px-0 a {
    position: relative;
    top: 7px;
    width: 65%;
    font-size: 14px;
    left: 10%;
  }

  .px-0 img {
    position: relative;
    top: 20px;
    left: 0%;
    width: 90%;
    height: 250px;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  #collapse .logo {
    position: relative;
    top: 10px;
    left: 20px;
  }

  .card-body .jaja {
    font-size: 8;
    position: relative;
    top: 100px;
  }

  .card-body .time {
    position: relative;
    top: 106px;
  }

  .card-body .lead {
    position: relative;
    top: -50px;
    width: 60%;
    left: 10%;
  }

  .card-sub {
    position: relative;
    top: -85px;
  }

  .card-sub a {
    font-size: 14px;
  }

  .card-second .botto {
    position: relative;
    font-size: 14px;
    width: 90%;
    top: 5px;
  }

  .card .sec {
    position: relative;
    top: -60px;
    width: 85%;
    height: 250px;
  }

  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }

}

@media screen and (max-width: 749px) {

  .containerX {
    background-color: aliceblue;
  }

  .headerImg {
    width: 100%;
  }

  .subheading h1,
  h3,
  .displayh1 {
    font-size: 14px;
    position: relative;
    right: -5%;
  }

  .containerX h1 {
    position: relative;
    font-size: 10px;
    right: 20%;
    top: 10px;
  }

  .my-3 {
    font-size: 7px;
    position: relative;
    top: -100px;
    right: 20%;
    width: 90%;
  }

  .px-0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .px-0 h1 {
    position: relative;
    right: 0%;
    font-size: 14px;
  }

  .displayh1 {
    position: relative;
    font-size: 14px;
  }

  .px-0 p {
    position: absolute;
    left: 0%;
    top: 51px;
    font-size: 13px;
  }

  .px-0 a {
    position: relative;
    top: 7px;
    width: 65%;
    font-size: 14px;
    left: 10%;
  }

  .px-0 img {
    position: relative;
    top: 20px;
    left: 0%;
    width: 90%;
    height: 250px;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  #collapse .logo {
    position: relative;
    top: 10px;
    left: 0px;
  }

  .card-body .jaja {
    font-size: 8;
    position: relative;
    top: 100px;
  }

  .card-body .time {
    position: relative;
    top: 106px;
  }

  .card-body .lead {
    position: relative;
    top: -50px;
    width: 60%;
    left: 10%;
  }

  .card-sub {
    position: relative;
    top: -85px;
  }

  .card-sub a {
    font-size: 14px;
  }

  .card-second .botto {
    position: relative;
    font-size: 14px;
    width: 90%;
    top: 5px;
  }

  .card .sec {
    position: relative;
    top: -60px;
    width: 85%;
    height: 250px;
  }

  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 100%;
    position: relative;
  }




}

@media screen and (min-width: 750px) and (max-width: 950px) {
  .containerX {
    background-color: aliceblue;
  }

  .headerImg {
    width: 100%;
  }

  .px-0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .px-0 p {
    position: absolute;
    left: 0%;
    top: 51px;
    font-size: 13px;
  }

  .px-0 img {
    position: relative;
    top: 20px;
    left: 0%;
    width: 90%;
    height: 250px;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  .card-body .time {
    position: relative;
    top: 106px;
  }

  .card-body .lead {
    position: relative;
    top: -50px;
    width: 60%;
    left: 10%;
  }

  .card-sub {
    position: relative;
    top: -85px;
  }

  .card-sub a {
    font-size: 14px;
  }

  .card-second .botto {
    position: relative;
    font-size: 14px;
    width: 90%;
    top: 5px;
  }

  .card .sec {
    position: relative;
    top: -60px;
    width: 85%;
    height: 250px;
  }

  #navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 100%;
  }

}


@media screen and (min-width: 700px) and (max-width: 950px) {
  .px-0 img {
    position: relative;
    top: -20px;
    left: 0%;
    width: 80%;
    height: 250px;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  .site-heading h1 {
    font-size: 33px;
    position: relative;
    right: 459px;
  }

  .displayh1 {
    position: relative;
    top: 0;
  }

  .px-0 .lead {
    position: relative;
    top: 10px;
    font-size: 22px;
    left: 0%;
  }

  .card-body .jaja {
    position: relative;
    top: 180px;
    font-size: 22px;
    left: 0%;
  }

  .card-body .continue {
    position: relative;
    top: 170px;
    left: 0%;
  }

  .card-sub a {
    position: relative;
    top: 1px;
    font-size: 27px;
    left: 68%;
  }

  .card-sub .botto {
    position: relative;
    top: 18px;
    font-size: 22px;
    left: 0%;
  }
}