@import url('https://fonts.googleapis.com/css?family=Raleway');

.center {
    text-align: center;
    min-height: 750px;
}


.login-container {
    position: relative;
    height: 100%;
    top: -20px;
}


.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -7em;
}


.left {
    background-color: #084577;
    position: absolute;
    left: 0;
    width: 50%;
    height: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 100vh;
    min-height: 750px;
}

.right {
    background-color: #880f64;
    right: 0;
    width: 50%;
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 100vh;
    min-height: 750px;
}


.carding {
    width: 460px;
    background: rgb(248, 239, 239);
    border: 4px solid rgb(248, 239, 239);
    top: 14em;
    left: 0em;
    border-radius: 50%;
    z-index: 202;
    height: 460px;
    opacity: 0.3;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.log-form-con {
    width: 400px;
    top: 1em;
    opacity: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 400px;
    background-color: #fff;
    border-radius: 50%;
    padding: 6em;
    z-index: 205;
    top: -17em;
    left: 0em;
}

.test .log-form-con h1 {
    font-size: 2.5em;
}

.log-form-con .linkTo {
    position: relative;
    top: -13px;
}

.col-md-10 form {
    top: 0px;
    display: flex;
    flex-direction: column;
}

.col-md-10 form .form-group {
    margin-bottom: 1.5em;
}

.emailError {
    position: relative;
    top: -10px;
    padding: 4px;
    color: red;
    font-size: 12px;

}

.passwordError {
    position: relative;
    top: -40px;
    padding: 4px;
    color: red;
    font-size: 12px;
}

.center {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 199;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0px;
    top: 0;
    left: 0px;
    background-color: white;
}

.one {
    position: relative;
    top: 10px;
}

.two {
    position: relative;
    top: -25px;
}

.three {
    position: relative;
    top: -30px;
}

.linkie {
    position: relative;
    top: 0px;
    text-decoration: none;
}

.carding h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.form-submit {
    font-family: 'Raleway', sans-serif;
    height: 35px;
    color: #fff;
    background-color: #1abc9c;
    border: none;
    letter-spacing: 0.2rem;
    transition: 0.3s opacity ease;
    cursor: pointer;
}

.form-submit:hover {
    opacity: 0.6;
}

@media screen and (min-width: 300px) and (max-width: 700px) {
    .center {
        width: 80%;
        height: 100%;
    }
}

@media screen and (min-width: 300px) and (max-width: 649px) {

    .center {
        text-align: center;
        min-height: 750px;
    }

    .test {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: -7em;
    }

    .test .log-form-con h1 {
        font-size: 1.3em;
    }

    .carding {
        position: relative;
        left: 0em;
        width: 400px;
        display: inline-block;
        top: -2em;
    }

    .log-form-con {
        position: absolute;
        width: 350px;
        top: 6em;
        left: 1.8em;
    }
}

@media screen and (min-width: 650px) and (max-width: 999px) {

    .test {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: -7em;
    }

    .test .log-form-con h1 {
        font-size: 1.8em;
    }

    .carding {
        position: relative;
        left: 0em;
        width: 400px;
        display: inline-block;
        top: 2em;
    }

    .log-form-con {
        position: absolute;
        width: 350px;
        top: 4.3em;
        left: 1.8em;
    }
}