

@import url('https://fonts.googleapis.com/css?family=Raleway');

.col-md-10 {
    width: 300px;
  }

  .emailError {
    position: relative;
    top: -10px;
    padding: 4px;
    color: red;
    font-size: 12px;

  }
  
  .passwordError {
      position: relative;
      top: -40px;
      padding: 4px;
      color: red;
      font-size: 12px;
  }

.center{
    font-family: 'Raleway', sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
   left: 0px;
   background-color: white;
}

.conta {
    background-color: white;
}

.linkTo {
    position: relative;
    top: 10px;
}

.one {
    position: relative;
    top: 10px;
}

.two {
    position: relative;
    top: -25px;
}

.three {
    position: relative;
    top: -20px;
}

.linkie {
    text-decoration: none;
}

.carding{
    background-color: #fff;
    border-radius: 15px;
    padding: 0.8rem;
}

.carding > form{
    display: flex;
    flex-direction: column;
}

.carding h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.form-item{
    font-family: 'Raleway', sans-serif;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 2rem;
    height: 30px;
    width: 100%;
    /* width: 16rem; */
    border: 1px solid grey;
}

.form-submit{
    font-family: 'Raleway', sans-serif;
    height: 35px;
    color: #fff;
    background-color: #1abc9c;
    border: none;
    letter-spacing: 0.2rem;
    transition: 0.3s opacity ease;
    cursor: pointer;
}
.form-submit:hover{
   opacity: 0.6;
}

@media screen and (min-width: 300px) {
    .center {
        width: 80%;
        height: 100%;
    }


}