.navlinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    font-size: 14px;
    top: 0px;
    position: absolute;
    width: 100%;
    right: 25%;
}

#navbar .logo {
    position: absolute;
    left: 10px;
    padding: 1.6em 2.5em;
    width: 150px;
    font-size: 14px;
    height: 40px;
    top: 0px;
    color: white;
    height: 2em;
    cursor: pointer;
}

.nav .logo a {
    top: -32px;
    height: 20px;
}

li {
    list-style: none;
    display: inline;
}

.link {
    font-size: 1em;
    border: 3px #fff solid;
    padding: 1.6em 2.5em;
    margin-bottom: 3rem;
    transition: var(--ease);
    position: relative;
    left: 80%;
    margin-left: 100px;
    width: 150px;
    top: 0px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    -webkit-align-self: center;
    align-self: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
}

.link:hover,
.logo:hover {
    padding: 1.3em 1.9em;
    background: var(--secondary-color);
    color: var(--secondary-color);
}

.nav-link:link {
    cursor: pointer;
    text-decoration: none;
    position: relative;
    top: -22px;
}

.navbar-inverse {
    font-weight: 600;
    position: relative;
    top: 0px;
    height: 2em;
}

.logout {
    position: relative;
    top: 20px;
    height: 40px;
    font-size: 14px;
    left: 450px;
}

.user {
    position: relative;
    top: 28px;
    left: 900px;
}

.logIn,
.regIster {
    top: 0px;
    color: white;
}

.logix .logIn {
    position: relative;
    left: 10%;
}

.logix .regIster {
    position: relative;
    left: 20%;
}

.write {
    position: relative;
    top: 28px;
}

.read {
    position: relative;
    top: 28px;
}

.profile,
.write,
.read,
.logout {
    color: white;
}

@media screen and (max-width: 499px) {

    .navlinks {
        right: 0%;
        top: 0px;
    }

    .nav .link {
        width: 80px !important;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav-link:link {
        cursor: pointer;
        text-decoration: none;
        position: relative;
        top: -16px;
    }


    .logix .logIn {
        position: absolute;
        left: 35%;
        top: -9px;
    }

    .logix .regIster {
        position: absolute;
        left: -13%;
        top: -9px;
    }


    .nav .read {
        position: relative;
        left: -30%;
        font-size: 14px;
        top: -8px;
    }

    .nav .user {
        position: relative;
        left: -18%;
        font-size: 14px;
        top: -8px;
    }

    .nav .write {
        position: relative;
        left: -21%;
        font-size: 14px;
        top: -8px;
    }

    .nav .logout {
        position: absolute;
        left: 60%;
        font-size: 14px;
        top: -8px;
        height: 50px;
    }

}

@media (min-width: 501px) and (max-width: 749px) {

    .navlinks {
        right: 0%;
    }

    #navbar .navlinks {
        position: relative;
        top: 0px;
        justify-content: space-evenly;
    }

    #navbar .logo,
    #navbar .logo a {
        visibility: hidden;
    }

    .logix .logIn {
        position: relative;
        left: 4%;
        top: -10px;
    }

    .logix .regIster {
        position: relative;
        left: 10%;
        top: -10px;
    }

    .nav .link {
        width: 80px !important;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }


    .nav .read {
        position: relative;
        left: -16%;
        font-size: 14px;
        top: -8px;
    }

    .nav .user {
        position: relative;
        left: -105px;
        font-size: 14px;
        top: -8px;
    }

    .nav .write {
        position: relative;
        left: -13%;
        font-size: 14px;
        top: -8px;
    }

    .nav .logout {
        position: absolute;
        left: 67%;
        font-size: 14px;
        top: -8px;
        height: 50px;
    }

    .logo {
        position: relative;
        top: -9px;
        left: -160px;
    }

}

@media (min-width: 750px) and (max-width: 950px) {

    #navbar .navlinks {
        position: relative;
        top: 0px;
        justify-content: space-evenly;
    }

    .nav .read {
        position: relative;
        left: -12%;
        font-size: 14px;
        top: 0px;
    }

    .nav .user {
        position: relative;
        left: 68%;
        font-size: 14px;
        top: 0px;
    }

    .nav .write {
        position: relative;
        left: 30%;
        font-size: 14px;
        top: 0px;
    }

    .nav .logout {
        position: absolute;
        left: 106%;
        font-size: 14px;
        top: 0px;
        height: 50px;
    }

}

@media (min-width: 950px) and (max-width: 1100 px) {
    .navlinks {
        right: 34%;
    }

    .navlinks .logIn {
        position: relative;
        left: 40%;
    }

    .navlinks .regIster {
        position: relative;
        left: 65%;
    }

    .nav .read {
        position: relative;
        left: -12%;
        font-size: 14px;
        top: 0px;
    }

    .nav .user {
        position: relative;
        left: 73%;
        font-size: 14px;
        top: 0px;
    }

    .nav .write {
        position: relative;
        left: 30%;
        font-size: 14px;
        top: 0px;
    }

    .nav .logout {
        position: absolute;
        left: 106%;
        font-size: 14px;
        top: 0px;
        height: 50px;
    }


}

@media (min-width: 750px) and (max-width: 990px) {

    .navlinks {
        right: 31%;
    }

    .nav-link:link {
        cursor: pointer;
        text-decoration: none;
        position: relative;
        top: -22px;
    }

    .navlinks .logIn {
        position: relative;
        left: 30%;
        top: 0px;
    }

    .navlinks .regIster {
        position: relative;
        left: 45%;
        top: 0px;
    }

}


@media (min-width: 991px) and (max-width: 1250px) {

    .nav-link:link {
        cursor: pointer;
        text-decoration: none;
        position: relative;
        top: -22px;
        left: 0px;
    }

    .navlinks {
        right: 35%;
    }

}

@media (min-width: 1601px) {

    .navlinks {
        right: 0%;
    }

}