.navlinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 2em;
    top: 0px;
    position: absolute;
}

#navbar .logo {
    position: absolute;
    left: 10px;
    padding: 1.6em 2.5em;
    width: 150px;
    top: 0px;
    color: white;
    height: 2em;
    cursor: pointer;
}

#navbar .logo a {
    top: 4px;
    height: 20px;
}

li {
    list-style: none;
    display: inline;
}

.link {
    font-size: 1em;
    border: 3px #fff solid;
    padding: 1.6em 2.5em;
    margin-bottom: 3rem;
    transition: var(--ease);
    position: relative;
    left: 80%;
    margin-left: 100px;
    width: 150px;
    top: 0px;
    height: 2em;
    text-align: center;
    -webkit-align-self: center;
    align-self: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
}

.logix {
    position: relative;
    left: 30%;
}


.link:hover,
.logo:hover {
    padding: 1.3em 1.9em;
    background: var(--secondary-color);
    color: var(--secondary-color);
}

.nav-link:link {
    cursor: pointer;
    text-decoration: none;
    position: relative;
    top: -22px;
}

.navbar-inverse {
    font-weight: 600;
    position: relative;
    top: 0px;
    height: 2em;
}

.logout {
    position: relative;
    top: 20px;
    left: 450px;
}

.user {
    position: relative;
    top: 28px;
    left: 900px;
}

.logIn,
.regIster {
    top: 0px;
    color: white;
}

.logIn {
    position: relative;
    left: 600px;
}

.regIster {
    position: relative;
    left: 700px;
}

.write {
    position: relative;
    top: 28px;
}

.read {
    position: relative;
    top: 28px;
}

.profile,
.write,
.read,
.logout {
    color: white;
}

@media screen and (max-width: 400px) {

    .nav-link:link {
        cursor: pointer;
        text-decoration: none;
        position: relative;
        top: -8px;
    }

    .link {
        font-size: 1em;
        border: 3px #fff solid;
        padding: 1.6em 2.5em;
        margin-bottom: 3rem;
        transition: var(--ease);
        position: relative;
        left: 80%;
        margin-left: 100px;
        width: 200px;
        top: 0px;
        height: 2em;
        text-align: center;
        -webkit-align-self: center;
        align-self: center;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: center;
        justify-content: center;
    }
}

@media (min-width: 750px) and (max-width: 990px) {

    .nav-link:link {
        cursor: pointer;
        text-decoration: none;
        position: relative;
        top: -22px;
    }

    .link {
        font-size: 1em;
        border: 3px #fff solid;
        padding: 1.6em 2.5em;
        margin-bottom: 3rem;
        transition: var(--ease);
        position: relative;
        left: 37%;
        margin-left: 100px;
        width: 150px;
        top: 0px;
        height: 2em;
        text-align: center;
        -webkit-align-self: center;
        align-self: center;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: center;
        justify-content: center;
    }
}


@media (min-width: 991px) and (max-width: 1250px) {

    .nav-link:link {
        cursor: pointer;
        text-decoration: none;
        position: relative;
        top: -22px;
    }

    .link {
        font-size: 1em;
        border: 3px #fff solid;
        padding: 1.6em 2.5em;
        margin-bottom: 3rem;
        transition: var(--ease);
        position: relative;
        left: 80%;
        margin-left: 100px;
        width: 150px;
        top: 0px;
        height: 2em;
        text-align: center;
        -webkit-align-self: center;
        align-self: center;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: center;
        justify-content: center;
    }
}