body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #fff;
}

.button-container {
  position: absolute;
  top: 30px;
  left: 80%;
  float: right;
  z-index: 300;
}

.postz {
  position: relative;
  top: 112px;
  right: 5%;
  margin-bottom: 40px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
}

.pull-right hr {
  position: relative;
  top: 10px;
  left: 0px;
}

.label {
  padding: 0.5em 1em;
}

.pull-right {
  align-items: center;
  position: absolute;
  top: 886px;
  flex-direction: row;
  text-align: center;
  display: flex;
  left: 40%;
  justify-content: center;
}

.author {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: 18.5px;
  right: 40%;
  text-transform: uppercase;
  color: rgb(43, 54, 68);
  width: 30%;
  font-weight: 400;
  font-size: 20px;
}

/*author name */
.bodys h4 {
  text-transform: uppercase;
  position: absolute;
  top: 12px;
  text-align: center;
  right: 61%;
  color: rgb(43, 54, 68);
  font-size: 20px;
  font-weight: 400;
}

.moment-on .clock {
  left: 69px;
  position: relative;
}

.media-body h4,
a {
  color: black;

}


.post-heading {
  color: black;
}


.oneArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0px;
  /* left: 800px; */

}

.img-responsive {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;

}

.bodys {
  background-color: yellow;
  position: absolute;
  width: 100%;
  top: 500px;
  height: 100vh;
}


.body-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  text-transform: capitalize;
  top: 43%;
  width: 80%;
  color: rgb(43, 54, 68);
  left: 11%;
  height: 40%;
  margin-bottom: 150px;
}

.jumbo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  align-items: center;
  align-self: center;
  width: 100%;
  left: 100px;

}

.showcomments {
  color: black;
}

/* title of the article */
.jumbo h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  margin-bottom: 30px;
  top: 48px;
  width: 80%;
  text-transform: capitalize;
  color: rgb(43, 54, 68);
  font-size: 50px;
  font-weight: 600;
  transform: translate(30%, -10%);
}

.moment-on {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  position: relative;
  top: 126px;
  left: -8em;
  margin-top: 1em;
  color: rgb(43, 54, 68);
}

.date {
  position: relative;
  /* top: 93px; */
  right: -8%;
  color: rgb(43, 54, 68);
  font-size: 22px;
  font-weight: 400;
}


.faEnvelope {
  position: relative;
  font-size: 22px;
  margin-left: 5px;
  font-weight: 400;
  color: rgb(43, 54, 68);
}

.post-edit {
  position: relative;
  top: 20px;
  height: 300px;
}

.oneArticle p {
  position: relative;
  top: -50px;
}


.oneArticle span {
  position: relative;
  top: 60px;
}


.callout h4 {
  position: relative;
  color: #fff;
  left: 0%;
  top: 10px;
  text-transform: uppercase;
}

.callout.secondary {
  position: relative;
  top: 465px;
  margin-top: 120px;
  background: rgb(43, 54, 68);
  color: white;
  width: 84%;
  height: 250px;
  padding: 5px;
  left: 6em;
}

.comment-list {
  list-style: none;
  margin: 0 0 50px 0;
}

.comment-list>li {
  margin: 0 0 20px 0;
  background: #333;
  padding: 20px;
}

.comment-user {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.comment-user-avatar-wrap {
  width: 40px;
  margin-right: 10px;
}

.comment-username {
  margin-right: 5px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.on {
  margin-right: 5px;
}

.comment-text {
  background: white;
  color: #222;
  padding: 20px;
}

.comment-text :last-child {
  margin: 0;
}

textarea {
  color: #222;
  width: 80%;
  height: 100px;
}


.post-footer-option li {
  float: left;
  margin-right: 50px;
  padding-bottom: 15px;
}

.post-footer-option li a {
  color: #AFB4BD;
  font-weight: 500;
  font-size: 1.3rem;
}

.photo-profile {
  border: 1px solid #DDD;
}

.anchor-username h4 {
  font-weight: bold;
}

.anchor-time {
  color: #ADB2BB;
  font-size: 1.2rem;
}

.post-footer hr {
  position: relative;
  top: -74px;
}

.post-footer-comment-wrapper {
  background-color: #F6F7F8;
}

.showComm {
  position: relative;
  top: 1080px;
  left: -320px;
  height: 70%;
  transform: translate(45%, 32%);
}

.jumbotron {
  position: absolute;
  width: 100%;
  top: 50px;
  margin: 0px;
}

.row {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 5.5em;
  position: relative;
}

ul>li {
  position: relative;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  top: 1344px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 10em;
  height: 30%;
  left: 0px;
  ;
}

ul footer {
  width: 100%;
}