#navbar {
	height: 2em;
}

#navbar .logo {
	position: absolute;
	left: -30px;
	padding: 1.6em 2em;
	width: 150px;
	top: 0px;
	color: white;
	height: 1.5em;
	cursor: pointer;
}

.navbar-inverse {
	font-weight: 600;
	position: relative;
	top: 0px;
	height: 2em;
}

.logout {
	position: absolute;
	top: 120px;
	left: 50px;
}

/* .user a {
	left: -10px;
} */

.write {
	position: absolute;
	top: 0px;
	left: 100px;
	text-align: center;
}

.read {
	position: absolute;
	top: 0px;
	left: 100px;
}

.link {
	font-size: 1em;
	border: 3px #fff solid;
	padding: 1.6em 2.5em;
	margin-bottom: 3rem;
	transition: var(--ease);
	/* position: absolute; */
	margin-left: 50px;
	width: 130px;
	top: 0px;
	height: 2em;
	text-align: center;
	align-self: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	left: 400px;
}

.showArticles {
	position: relative;
	top: 200px;
}

.grid-container {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	margin-bottom: 200px;
}

.image-article {
	position: absolute;
	float: left;
	left: 0em;
	width: 200px;
	top: 13.5em;
	height: 200px;
}

.react-fancybox .thumbnail img {
	max-width: 600px;
	width: 100%;
	height: 300px;
}

.faSearch {
	position: absolute;
	top: 238px;
	left: 94%;
	font-size: 1.8em;
	z-index: 12;
	cursor: pointer;
}

.blTitle {
	position: relative;
	top: -15px;
}

.col-md-12 p {
	margin: 100px 0;
	width: 300px;
}

.linkz {
	position: relative;
	font-weight: 200;
	font-size: 16px;
	z-index: 240;
	top: 22px;
	left: 6em;
	text-align: center;
	align-self: center;
	cursor: pointer;
}

.MuiCardContent-root p {
	font-size: 15px;
}

.MuiButton-label {
	font-size: 13px;
}

.MuiCardContent-root h2 {
	font-size: 20px;
}

.linkz:link {
	text-decoration: none;
}

.form-containex {
	height: 300px;
	position: absolute;
	top: -220px;
	z-index: 0;
	left: 0;
	width: 100%;
	background: url('https://source.unsplash.com/random') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* seach bar style */
.contain-form {
	position: absolute;
	margin: auto;
	top: -100px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 500px;
	height: 100px;
}

.search {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 80px;
	height: 80px;
	background: crimson;
	border-radius: 50%;
	transition: all 1s;
	z-index: 4;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.search:hover {
	cursor: pointer;
}

.search::before {
	content: "";
	position: absolute;
	margin: auto;
	top: 22px;
	right: 0;
	bottom: 0;
	left: 22px;
	width: 12px;
	height: 2px;
	background: white;
	transform: rotate(45deg);
	transition: all .5s;
}

.search::after {
	content: "";
	position: absolute;
	margin: auto;
	top: -5px;
	right: 0;
	bottom: 0;
	left: -5px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 2px solid white;
	transition: all .5s;
}

.input {
	font-family: 'Inconsolata', monospace;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50px;
	height: 50px;
	outline: none;
	border: none;
	background: crimson;
	color: white;
	text-shadow: 0 0 10px crimson;
	padding: 0 80px 0 20px;
	border-radius: 30px;
	box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
	transition: all 1s;
	opacity: 0;
	z-index: 5;
	font-weight: bolder;
	letter-spacing: 0.1em;
}

.input:hover {
	cursor: pointer;
}

.input:focus {
	width: 500px;
	opacity: 1;
	cursor: text;
}

.input:focus~.search {
	right: -530px;
	background: #151515;
	z-index: 3;
}

.input:focus~.search::before {
	top: 0;
	left: 0;
	width: 25px;
}

.input:focus~.search::after {
	top: 0;
	left: 0;
	width: 25px;
	height: 2px;
	border: none;
	background: white;
	border-radius: 0%;
	transform: rotate(-45deg);
}

.input::placeholder {
	color: white;
	opacity: 0.5;
	z-index: 3;
	font-weight: bolder;
}

/* end of seach bar style */

.card-body {
	height: 45%;
	width: 100%;
	position: relative;
	top: -100px;
}

.text-center {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
	margin: 40px 0;
	height: 400px;
	width: 90%;
	padding: 1em;
	border: 1px solid #333;
	top: -100px;
	position: relative;
	transform: translate(5%, 50%);
	margin-bottom: 100px;
}

.artLink {
	position: absolute;
	top: 34px;
}

.card-text {
	position: relative;
	font-size: 1.5em;
	float: right;
	width: 75%;
	margin: 0em 1em;
	margin-bottom: 20px;
	top: -4px;
}

.card-title {
	position: relative;
	top: 80px;
	text-transform: capitalize;
	margin: 20px 0;
	margin-bottom: 140px;
	width: 100%;
	font-weight: 700;
}

.card-footer span {
	position: relative;
	top: -147px;
	left: 200px;
	font-size: 18px;
	float: right;
	font-family: italic;
}

.badges {
	position: relative;
	margin: 50px 0;
	display: flex;
	width: 100%;
	top: -100px;
	flex-direction: row;
	justify-content: space-evenly;
}

hr {
	position: relative;
	top: 130px;
	border-bottom: 1px solid grey;
}

.MuiCardMedia-img {
	height: 300px;
}

.MuiPaper-root {
	position: relative;
	top: 88px;
	margin-bottom: 20px;
}


@media screen and (max-width: 500px) {

	.grid-container {
		position: relative;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 10px;
		margin-bottom: 200px;
	}

	.contain-form {
		width: 250px;
	}

	.contain-form form {
		width: 70%;
	}

	.input:focus {
		width: 250px;
		opacity: 1;
		cursor: text;
	}

	.input:focus~.search {
		right: -260px;
		background: #151515;
		z-index: 3;
		color: #fff;
	}

	.nav .nav-link {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		position: relative;
		height: 50px;
		width: 80px;
		top: -19px;
	}

	.nav .nav-link {
		font-size: 13px;
	}

	.container {
		min-width: 100% !important;
		width: 100% !important;
	}

	.showArticles {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	form {
		width: 100%;
	}

	hr {
		position: relative;
		top: 20px;
	}

	.card-title {
		font-size: 18px;
	}

	.card-body {
		position: relative;
		top: -220px;
	}

	.card-text {
		font-size: 14px;
		position: relative;
		top: 10px;
		margin-bottom: 20px;
	}

	.artLink {
		position: absolute;
		top: 34px;
	}

	.label {
		padding: 0.5em 1em;
	}

	.card-footer {
		position: relative;
		top: -120px;
	}
}

@media (max-width: 649px) {
	#navbar .nav .logo {
		visibility: hidden;
	}

	#navbar .navlinks {
		top: 20px;
		position: relative;
	}
}

@media screen and (min-width: 501px) and (max-width: 698px) {

	.grid-container {
		position: relative;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 10px;
		margin-bottom: 200px;
	}

	.contain-form {
		width: 350px;
	}

	.contain-form form {
		width: 70%;
	}

	.input:focus {
		width: 350px;
		opacity: 1;
		cursor: text;
	}

	.input:focus~.search {
		right: -360px;
		background: #151515;
		z-index: 3;
		color: #fff;
	}



	.nav .nav-link {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		position: relative;
		height: 50px;
		width: 80px;
	}

	.showArticles {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	form {
		width: 100%;
		left: 10%;
	}

	hr {
		position: relative;
		top: -14px;
	}

	.card-title {
		font-size: 18px;
	}

	.card-body {
		position: relative;
		top: -220px;
	}

	.card-text {
		font-size: 14px;
		position: relative;
		top: 10px;
		margin-bottom: 20px;
	}

	artLink {
		position: absolute;
		top: 34px;
	}

	.badges {
		position: relative;
		top: -80px;
	}

	.card-footer {
		position: relative;
		top: -120px;
	}
}

@media screen and (min-width: 699px) and (max-width: 749px) {

	.nav .nav-link {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		position: relative;
		height: 50px;
		width: 80px;
	}

	.logo {
		position: relative;
		top: -9px;
		left: -220px;
	}

	.showArticles {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	form {
		width: 100%;
		left: 10%;
	}

	hr {
		position: relative;
		top: -14px;
	}

	.card-title {
		font-size: 18px;
	}

	.card-body {
		position: relative;
		top: -220px;
	}

	.card-text {
		font-size: 14px;
		position: relative;
		top: 10px;
		margin-bottom: 20px;
	}

	.artLink {
		position: absolute;
		top: 34px;
	}

	.badges {
		position: relative;
		top: -80px;
	}

	.card-footer {
		position: relative;
		top: -120px;
	}
}

@media screen and (min-width: 750px) and (max-width: 950px) {

	.nav .nav-link {
		font-size: 13px;
	}

	.logo {
		position: relative;
		top: 0px;
		left: 20px;
	}

	.showArticles {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	form {
		width: 100%;
		left: 10%;
	}

	hr {
		position: relative;
		top: -14px;
	}

	.card-title {
		font-size: 18px;
	}

	.card-body {
		position: relative;
		top: -220px;
	}

	.card-text {
		font-size: 14px;
		position: relative;
		top: 10px;
		margin-bottom: 20px;
	}

	.artLink {
		position: absolute;
		top: 34px;
	}

	.badges {
		position: relative;
		top: -80px;
	}

	.card-footer {
		position: relative;
		top: -120px;
	}
}

@media screen and (min-width: 950px) {
	.navlinks {
		top: 0px;
	}
}